@layer ori.components {
    .ori-badge-anchor {
        display: inline-flex;
        position: relative;
    }

    .ori-badge {
        display: inline-flex;

        box-sizing: border-box;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        min-width: 1.5em;
        height: 1.5em;
        padding-inline: 0.5em;

        border: 1px solid var(--ori-variant-border-color);
        border-radius: var(--ori-size-radius);

        opacity: var(--ori-variant-opacity);

        background-color: var(--ori-variant-bg-color);
        color: var(--ori-variant-text-color);

        font-size: 0.75em;
        font-weight: 600;
        line-height: 1;
        white-space: nowrap;

        user-select: none;
    }

    .ori-badge.ori-badge_dot {
        width: 0.625em;
        min-width: 0;
        height: 0.625em;
        padding: 0;

        /* A dot is always a circle regardless of the `radius` prop. */
        border-radius: 9999px;
    }

    .ori-badge.ori-badge_floating {
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;

        transform: translate(50%, -50%);
    }

    .ori-badge-anchor:dir(rtl) .ori-badge.ori-badge_floating {
        transform: translate(-50%, -50%);
    }
}
