@layer ori.components {
    .ori-button {
        --ori-font-size-step_inc: 4px;

        display: inline-flex;
        flex-direction: row;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        height: max(calc(2em + 0.5em), var(--ori-size-action));

        padding-inline: 1em;

        transition:
            opacity 0.15s ease-out,
            background-color 0.15s ease-out,
            color 0.15s ease-out,
            border-color 0.15s ease-out;

        border: 1px solid var(--ori-variant-border-color);
        border-radius: var(--ori-size-radius);

        opacity: var(--ori-variant-opacity);

        background-color: var(--ori-variant-bg-color);
        color: var(--ori-variant-text-color);

        font-size: var(--ori-font-size);
        line-height: 1;

        cursor: pointer;
        user-select: none;
        gap: 0.125em 0.375em;
    }

    .ori-button:focus-visible {
        outline: 2px solid var(--ori-color);
        outline-offset: 2px;
    }

    .ori-button:disabled,
    .ori-button[aria-disabled='true'] {
        opacity: 0.45;
        pointer-events: none;
    }

    .ori-button[aria-busy='true'] {
        pointer-events: none;
    }

    .ori-button.ori-button_fluid {
        display: flex;
        width: 100%;
    }

    .ori-button.ori-button_icon {
        width: var(--ori-size-action);
        height: var(--ori-size-action);

        padding: 0;

        font-size: calc(var(--ori-size-action) / 2);
    }

    .ori-button.ori-button_icon-position_top {
        flex-direction: column;

        /* font-size: calc(var(--ori-font-size) - var(--ori-font-size-step_dec) * 1); */
    }

    .ori-button.ori-button_icon-position_right {
        flex-direction: row-reverse;
    }

    .ori-button.ori-button_icon-position_bottom {
        flex-direction: column-reverse;

        /* font-size: calc(var(--ori-font-size) - var(--ori-font-size-step_dec) * 1); */
    }

    .ori-button.ori-button_icon-position_left {
        flex-direction: row;
    }

    .ori-button:not(.ori-button_icon) .ori-button__icon {
        font-size: calc(var(--ori-font-size) + 2px);
    }
}
